# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store
*DS_Store

# Windows
Thumbs.db

#Caches
__pycache__/

#locales
*.po~

venv/

exam/questions/angular/
exam/questions/docker/
exam/questions/docker_old/
exam/questions/dp_gof/
exam/questions/dp_gof_old/
exam/questions/dp_ms/
exam/questions/hibernate/
exam/questions/jakartaee/
exam/questions/javaweb/
exam/questions/jsf/
exam/questions/ms/
exam/questions/ws_old/

